<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  
  <ng-content select="router-outlet"></ng-content>

  <footer class="footer">
    © 2017 Material Pro Admin by wrappixel.com
  </footer>
</div>
<app-footer></app-footer>
