<div
  bsModal
  #roleFunction="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
         Role Function
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="roleFunction.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <eui-treegrid style="height:500px"
           [data]="dataUnflat"  idField="FunctionId" treeField="FunctionName">
           <eui-grid-column field="FunctionName" title="Function Name" width="30%"></eui-grid-column>
           <eui-grid-column field="View" title="View" align="center" >
              <ng-template euiCellTemplate let-row >
                  <input type="checkbox"  [checked]="row.CanRead"  (change)="changeCheckbox(row.FunctionId,$event,'View')"> Allow
              </ng-template>
           </eui-grid-column>
           <eui-grid-column field="Create" title="Create" align="center">
              <ng-template euiCellTemplate let-row>
                  <input type="checkbox"  [checked]="row.CanCreate"  (change)="changeCheckbox(row.FunctionId,$event,'Create')"> Allow
              </ng-template>
           </eui-grid-column>
           <eui-grid-column field="Update" title="Update" align="center">
              <ng-template euiCellTemplate let-row>
                  <input type="checkbox"   [checked]="row.CanUpdate"  (change)="changeCheckbox(row.FunctionId,$event,'Update')"> Allow
              </ng-template>
           </eui-grid-column>
           <eui-grid-column field="Delete" title="Delete" align="center">
              <ng-template euiCellTemplate let-row>
                  <input type="checkbox"   [checked]="row.CanDelete"  (change)="changeCheckbox(row.FunctionId,$event,'Delete')"> Allow
              </ng-template>
           </eui-grid-column>
      </eui-treegrid>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect" form="ngForm" (click)="savePermission()">
          Save
        </button>
        <button
          type="button"
          class="btn btn-default waves-effect"
          (click)="roleFunction.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
