<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          Add User
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="childModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form
            class="form-group row"
            [formGroup]="registerForm"
            id="ngForm"
            (ngSubmit)="actionUser()"
          >
            <div class="col-6">
              <div class="col-md-12 m-b-20 hide">
                <input type="text" formControlName="Id" class="form-control" />
              </div>

              <div class="col-md-12 m-b-20">
                <input
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  placeholder="FullName"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.fullName.errors) ||
                      (f.fullName.touched && f.fullName.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.fullName.errors) ||
                    (f.fullName.touched && f.fullName.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.fullName.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  placeholder="Username"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.username.errors) ||
                      (f.username.touched && f.username.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.username.errors) ||
                    (f.username.touched && f.username.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.username.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.password.errors) ||
                      (f.password.touched && f.password.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.password.errors) ||
                    (f.password.touched && f.password.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <input
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.confirmPassword.errors) ||
                      (f.confirmPassword.touched && f.confirmPassword.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.confirmPassword.errors) ||
                    (f.confirmPassword.touched && f.confirmPassword.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.confirmPassword.errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Passwords must match
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.email.errors) ||
                      (f.email.touched && f.email.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.email.errors) ||
                    (f.email.touched && f.email.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="col-md-12 m-b-20">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mobi"
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.phoneNumber.errors) ||
                      (f.phoneNumber.touched && f.phoneNumber.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.phoneNumber.errors) ||
                    (f.phoneNumber.touched && f.phoneNumber.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.phoneNumber.errors.required">
                    Mobi is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Address"
                  formControlName="address"
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.address.errors) ||
                      (f.address.touched && f.address.errors)
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.address.errors) ||
                    (f.address.touched && f.address.errors)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.address.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <label>Roles</label>
                <div>
                  <ng-select2
                    [data]="listRoles"
                    [options]="options"
                    formControlName="roles"
                    [placeholder]="'Please select roles...'"
                  >
                    >
                  </ng-select2>
                </div>
              </div>
              <div class="col-md-12 m-b-20">
                <label>Status</label>
                <div>
                  <input
                    id="activeStatus"
                    type="radio"
                    value="1"
                    formControlName="status"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        (submitted && f.status.errors) ||
                        (f.status.touched && f.status.errors)
                    }"
                  />
                  <label for="activeStatus">Active</label>
                  <div
                    *ngIf="
                      (submitted && f.status.errors) ||
                      (f.status.touched && f.status.errors)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.status.errors.required">
                      Status is required
                    </div>
                  </div>
                </div>

                <div>
                  <input
                    id="lockStatus"
                    type="radio"
                    value="0"
                    formControlName="status"
                  />
                  <label for="lockStatus">Lock</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect" form="ngForm">
          Save
        </button>
        <button
          type="button"
          class="btn btn-default waves-effect"
          (click)="childModal.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
