<div class="card">
    <div class="card-body">
        <div class="card-title">
            <button type="button" class="btn btn-info btn-rounded" (click)="modal.showChildModal('add')">Add New User</button>
        </div>
        <div class="table-responsive">
            <table class="table color-table success-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <th>{{i+1}}</th>
                        <td>{{ user.UserName }}</td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.Address }}</td>
                        <td>{{ user.PhoneNumber }}</td>
                        <td>
                            <div class="switch">
                                <label>Lock
                                    <input type="checkbox" [checked]="user.Status" (change)="updateStatus(user.Id)"/><span class="lever"></span>
                                    Active</label>
                            </div>
                        </td>
                        <td>
                            <span *ngFor="let role of user.Roles" class="badge ml-2 badge-info" >
                                {{ role }}
                            </span>
                        </td>
                        <td class="text-nowrap">
                            <button class="btn btn-info mr-2" >
                                <i class="fa fa-eye"></i>
                            </button>
                          <button class="btn btn-primary mr-2" (click)="modal.showChildModal('edit',user)">
                              <i class="fa fa-edit"></i>
                          </button>
                          <button class="btn btn-danger" (click)="deleteUser(user)">
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-user-action #modal (loadDataParent)="loadUsers()"></app-user-action>
