<p>
  sidebar works!
</p>
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
      <!-- User profile image -->
      <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user" /> </div>
      <!-- User profile text-->
      <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="true">Management System</a>
        <div class="dropdown-menu animated flipInY">
          <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
          <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
          <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
          <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account
            Setting</a>
          <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="fa fa-power-off"></i>
            Logout</a>
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap "><i class="fa fa-cubes"></i>Quản lý hệ thống</li>
        <li routerLinkActive="active">
          <a routerLink="/pages/dashboard" class="waves-effect waves-dark" aria-expanded="false"><i
              class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/pages/users/users" class=" waves-effect waves-dark" aria-expanded="false"><i
              class="fa fa-user-circle"></i><span class="hide-menu">Người dùng</span></a>
        </li>
        <li >
          <a  routerLink="/pages/role/list" class="waves-effect waves-dark" aria-expanded="false"><i class="fa fa-suitcase"></i><span
              class="hide-menu">Quản lý quyền </span></a>
        </li>
        <li >
          <a class="waves-effect waves-dark" aria-expanded="false"><i class="fa fa-users"></i><span
              class="hide-menu">Quản lý vai trò </span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="departments" class="waves-effect waves-dark" aria-expanded="false"><i class="fa fa-building"></i><span
              class="hide-menu">Quản lý bộ phận </span></a>
        </li>
        <li>
          <a class="waves-effect waves-dark" aria-expanded="false"><i class="fa fa-sitemap"></i><span
              class="hide-menu">Từ điển </span></a>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="fa fa-folder-open"></i><span class="hide-menu">Nhật ký hệ thống</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#">Calendar</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap"><i class="fa fa-desktop"></i> Bảo mật hệ thống</li>
        <li>
          <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-database"></i><span
              class="hide-menu">Quản lý kết nối</span></a>
        </li>
        <li>
          <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-list"></i><span
              class="hide-menu">Sao lưu dữ liệu</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <div class="sidebar-footer">
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
  </div>
  <!-- End Bottom points-->
</aside>
