<div class="card">
    <div class="card-body">
      <div class="row">
          <div class="col-6">
              <div class="table-responsive">
                  <table class="table color-table success-table">
                      <thead>
                          <tr>
                              <th>STT</th>
                              <th>Name</th>
                              <th>Description</th>
                              <th class="text-right">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of roles; index as i">
                              <th>{{i+1}}</th>
                              <th>{{item.Name}}</th>
                              <th>{{item.Description}}</th>
                              <th class="text-right">
                                  <button class="btn btn-primary mr-2" (click)="modalFunction.showFunctionModal(item)">
                                      <i class="fa fa-eye"></i>
                                  </button>
                                <button class="btn btn-danger">
                                    <i class="fa fa-edit"></i>
                                </button>
                              </th>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="col-6">

            </div>
      </div>

    </div>
</div>

<app-role-function  #modalFunction></app-role-function>
